body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.null-button {
  cursor: zoom-in;
  background: initial;
  opacity: 1;
  color: initial;
  margin-left: 4px;
  margin-right: 4px;
}
.null-button:hover {
  cursor: zoom-in;
}
